@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900&display=swap');
html, body {
    padding: 0;
    height: 100%;
    margin: 0px;
}

body {
   background-color:white; 
}

p, a{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header{
    display: flex;
    background-color: rgb(218, 213, 213);
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
}

.header nav a{
    text-decoration: none;
    color: rgb(119, 119, 119);
    font-size: 16px;
    margin:0 5px;
}

.header nav a:hover{
    color: steelblue;
}